<meta charset="UTF-8">
<title>News Scraper</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<style>
	body    { padding-top:50px; }
	.headline { 
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 10px;
	}
	.content-wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.news-box {
		width: 24%;
		background-color: #cfcfcf;
		border: 1px solid black;
		padding: 16px;  
		margin: 5px;
		
	
	}
</style>