<meta charset="UTF-8">
<title>News Scraper</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<style>
	body    {  }
	.headline { 
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 10px;
	}
	.site-headline {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.content-wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.news-box {
		display: flex;
    flex-direction: column;
    justify-content: space-between;
		width: 24%;
		background-color: #cfcfcf;
		border: 1px solid black;
		padding: 16px;  
		margin: 5px;
	}
	.news-summary {
		margin-bottom: 30px;
	}
	
	.btn-primary {
		margin-top: 20px;
		background-color: #000000;
    border-color: #000000;
	}
</style>