<html lang="en">
<head>
<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

		<div class="jumbotron">
			<h1>This is great</h1>
			<p>Welcome to templating using EJS</p>
			<ul>
			<% dataDisplayed.forEach(function(title, index) { %>
				<% for(var i = 0; i< title.length; i++) { %> 
					<li><%= dataDisplayed[0][i] %></li>
					<li><%= dataDisplayed[1][i] %></li>
				<% } %> 
			<% }); %> 
			</ul>
		</div>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>

</html>

