<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

		<div>
			<h1>This is great</h1>
			<p>Welcome to templating using EJS</p>
			
				<ul class=" list-unstyled content-wrapper">
					<% data.forEach(function(title, index) { %>
					
							<div class="news-box">
								<li class="headline"><%= title.title %></li>
								<li><%= title.summary %></li>
								<img class="img-responsive" src="<%= title.image %>">
							</div>
						
					<% }); %> 
				</ul>
			
		</div>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>

</html>

